@font-face {

    font-family: hacker;
    src: url("../font/DS-DIGII.ttf");

}

.text-hacker {

    font-family: hacker;

}

.bg-secondary-menu {

    background-color: rgba(32, 32, 32, 0.623) !important;

}

.click:hover {

    transition: 1s;
    filter: brightness(75%);

}

#jogo {

    display: none;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

}

#contador {

    width: 15rem;
    height: 9%;
    left: 0%;
    bottom: 5%;
    display: flex;
    position: absolute;
    background-color: rgba(32, 32, 32, 0.808);
    border: 1px black solid;

}

#open-loja {

    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: right 0.5s;

}

#menu {

    position: fixed;
    bottom: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #eee;
    overflow-y: auto;
    transition: right 0.5s;

}

#dinheiro {

    font-family: hacker;
    color: rgb(248, 240, 240);

}

#load {

    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

}

#run-game {

    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: auto;
    color: rgb(15, 15, 15);

}